@charset "utf-8";
/* CSS Document */
section#center, section#left, section#right {
	margin-top: 109px;
	padding: 0 5px;
}
section#center {
	margin: 0, auto;
	min-width: 600px;
	background-color: #333;
}
section#left {
	left: 0;
	width: 170px;
	background-color: #630;
}
section#right {
	right: 0;
	width: 170px;
	background-color: #060;
}