@charset "utf-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Clearfix Clearfix Clearfix */
.group:before,
.group:after {
content: "";
display: table;
}
.group:after {
clear: both;
}
.group {
zoom: 1; /* IE6&7 */
}

/* Index Index Index */
body {
	background-color: #000000;
	font-family:Myriad Pro, Arial, Helvetica, sans-serif;
	font-size: 62.5%;
	min-height: 177px;
}
img, object, embed, video {
	max-width:100%;
}
section#index {
	width: 100%; /*960*/
	margin: 0 auto;
}
section#index header {
	float:left;
	width: 46.875%; /*450/960*/
	height: 100%;
}
section#index aside {
	float:right;
	width: 53.125%; /*510/960*/
	max-width: 57.2916666667%; /*550/960*/
	height: 100%;
}
section#index header img.logo {
	width: 100%;
	max-width: 450px;
	margin: 40% 0 0 2.2222222222%;
}
section#index aside p.indexMsg {
	font-size: 1.4em;
	width: 100%;
	max-width: 510px;
	margin: 35% auto 0;
	color: #FFFFFF;
	text-align:center;
	padding: 3px 0 4px;
}
p.indexMsg em {
	color: #5BBEFF;
	font-style:italic;
	font-weight:bold;
}
footer#index {
	position:absolute;
	bottom: 0;
	width: 100%;
	height: 10.5625717566%;
	min-height: 58px;
	background-image: linear-gradient(right , #E2DECB 41%, #938D71 100%);
	background-image: -o-linear-gradient(right , #E2DECB 41%, #938D71 100%);
	background-image: -moz-linear-gradient(right , #E2DECB 41%, #938D71 100%);
	background-image: -webkit-linear-gradient(right , #E2DECB 41%, #938D71 100%);
	background-image: -ms-linear-gradient(right , #E2DECB 41%, #938D71 100%);
	
	background-image: -webkit-gradient(
		linear,
		right top,
		left top,
		color-stop(0.41, #E2DECB),
		color-stop(1, #938D71)
	);
}
footer#index li {
	padding-top: .5em;
	display: block;
	text-align: center;
}
footer#index a {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	opacity: 1;
}
footer#index a:hover {
	opacity: .65;
	
}
footer#index a, footer#index a:link, footer#index a:visited, footer#index a:hover, footer#index a:active {
	font-size: 2em;
	font-weight: normal;
	color: #000;
	font-style:normal;
	text-decoration: none;	
}

.copyR {
	position:absolute;
	font-size: 1.4em;
	font-weight:600;
	bottom: 5px;
	left: 5px;
	opacity: 0.5;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.copyR:hover {
	opacity: 1;
}
@media screen and (max-height: 700px) {
section#index header img.logo {
	width: 100%;
	max-width: 450px;
	margin: 20% 0 0 2.2222222222%;
}
section#index aside p.indexMsg {
	font-size: 1.4em;
	width: 100%;
	margin: 18% auto 0;
	color: #FFFFFF;
	text-align:center;
}
footer#index {
	position:absolute;
	bottom: 0;
}
}
@media screen and (max-height: 360px) {
section#index header img.logo {
	margin: 0 0 0 2.2222222222%;
}
section#index aside p.indexMsg {
	margin: 0 auto 0;
}
footer#index {
	position:fixed;
}
}
@media screen and (max-width: 1037px) {
section#index {
	width: 100%; /*960*/
	margin: 0 auto;
}
section#index header {
	float:none;
	width: inherit;
	max-width: inherit;
	height: auto;
	margin: 0 auto;
}
section#index aside {
	float:none;
	width: inherit;
	max-width: inherit;
	height: auto;
	margin: 0 auto 0;
}
section#index header img.logo {
	width: 100%;
	max-width: 100%;
	margin: 0 auto 0;
}
section#index aside p.indexMsg {
	font-size: 1.4em;
	width: 96%;
	max-width: 100%;
	margin: 0 auto 0;
	color: #FFFFFF;
	text-align:center;
}
p.indexMsg em {
	color: #5BBEFF;
	font-style:italic;
	font-weight:bold;
}
footer#index {
	position:absolute;
	bottom: 0;
}
}
@media screen and (orientation:portrait) {
section#index aside p.indexMsg {
	font-size: 3em;
}	
footer#index {
	max-height: 125px;
	position:absolute;
	bottom: 0;
}
#index nav, #index ul, #index li, #index a {
	padding-top: 0;
	margin-top: 0;
}
footer#index a, footer#index a:link, footer#index a:visited, footer#index a:hover, footer#index a:active {
	font-size: 4em;
}
}
@media screen and (orientation:landscape) {
section#index aside p.indexMsg {
	font-size: 2em;
}	
footer#index {
	max-height: 75px;
}
footer#index a, footer#index a:link, footer#index a:visited, footer#index a:hover, footer#index a:active {
	font-size: 3em;
}
}